<div class="flex justify-center items-center h-screen">
  <div class="max-w-md w-full px-6 py-4 bg-white shadow-md rounded-lg">
    <h2 class="text-2xl font-bold mb-4">New product</h2>

    <%= render "form", product: @product %>

    <div class="mt-4">
      <%= button_to "Back to products", products_path, method: :get, class: 'ml-4 bg-blue-500 hover:bg-blue-600 text-white px-4 py-2 rounded-md' %>
</div>